@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans+JP:wght@400;500;600;700;900&family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    box-shadow: black 0.5;
    background: url(gb/bg1.png);
    height: 2000px;
}

.header {
    margin: auto;
    background: url(gb/header.jpg);
    background-repeat: no-repeat;
    background-size: 990px 347.1529px;
    background-position-x: center;
    place-content: center; 
    display: grid; 
    text-align: center;
    isolation: isolate;
}

.header img {
    margin: auto;
    width: 990px;
    height:  347.1529px;
}

.display {
    list-style: none;
    background-image: url(gb/ds.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 990px 281.9246px;
    place-content: center;
    display: grid;
    position: relative;
    margin: auto;
}

.display .jd img {
    position: relative;
    margin: auto;
    width: 1000px;
    height: 300px;
    bottom: 60px;
}

.display .jd h2 {
    color: #6b2b00;
    margin-top: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

.display ul li img {
    list-style: none;
    width: 200px;
    height: 200px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.display ul li img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.display ul li {
    list-style: none;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    display: inline;
    align-content: center;
    align-items: center;
    bottom: 290px;
    left: 103px;
}

.food {
    top: -288px;
    background-image: url(gb/pinkpat-02.png);
    background-repeat: no-repeat;
    background-position: center;
    place-content: center;
    display: grid;
    background-size: 990px 1050px;
    position: relative;
}

.food img {
    top: 60px;
    width: 730px;
    height: 315px;
}

.food ul li img {
    list-style: none;
}

.food ul li img {
    position: relative;
    display: block;
    align-content: center;
    align-items: center;
    margin-bottom: -60px ;
    margin-top: -60px ;
}

.food h3 {
    color: #6b2b00;
    font-family: 'Noto Sans JP', sans-serif; 
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    position: relative;
    text-decoration: none;
    padding: 0 10px;
}

.food .kanan h3::after {
    content: "";
    position: absolute;
    background-color: #6b2b00;
    height: 3px;
    width: 17%;
    left: 314px;
    bottom: -8px;
}

.food .kiri h3::after {
    content: "";
    position: absolute;
    background-color: #6b2b00;
    height: 3px;
    width: 22%;
    left: 295px;
    bottom: -8px;
}

.food .kanan h3 {
    top: -140px;
    left: 80px;
}

.food .kiri h3 {
    top: -140px;
    left: -240px;
}

.food p {
    color: #6b2b00;
    font-family: 'Noto Sans JP', sans-serif; 
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    position: relative;
    text-decoration: none;
    padding: 0 10px;
}

.food .kanan p {
    top: -125px;
    left: 385px;
}

.food .kiri p {
    top: -125px;
    left: 45px;
}

.ricon li {
    list-style-type: circle;
    color: #6b2b00;
    font-family: 'Noto Sans JP', sans-serif; 
    font-size: 12px;
    font-weight: 400px;
    text-align: left;
    position: relative;
    top: -120px;
    left: 420px;
}

.lecon li {
    list-style-type: circle;
    color: #6b2b00;
    font-family: 'Noto Sans JP', sans-serif; 
    font-size: 12px;
    font-weight: 400px;
    text-align: left;
    position: relative;
    top: -120px;
    left: 80px;
}

.food .kanan .p2{
    color: #6b2b00;
    font-family: 'Noto Sans JP', sans-serif; 
    font-size: 10px;
    font-weight: 700;
    text-align: left;
    position: relative;
    text-decoration: none;
    left: 395px;
    top: -80px;
    line-height: 1.6;
}

.food .kanan .p2::after {
    content: "";
    position: absolute;
    background-color: #6b2b00;
    height: 3px;
    width: 39%;
    left: 0;
    bottom: 35px;
}


.food .kiri .p2 {
    color: #6b2b00;
    font-family: 'Noto Sans JP', sans-serif; 
    font-size: 10px;
    font-weight: 700;
    text-align: left;
    position: relative;
    text-decoration: none;
    left: 55px;
    top: -80px;
    line-height: 1.6;
}

.food .kiri .p2::after {
    content: "";
    position: absolute;
    background-color: #6b2b00;
    height: 3px;
    width: 39%;
    left: 0;
    bottom: 35px;
}


.tiket {
    background: url(gb/ahihi\ dhar-02.jpg);
    background-repeat: no-repeat;
    background-size: 990px 270px;
    min-height: 270px;
    background-position-x: center;
    place-content: center;
    display: grid;
    position: relative;
    top: -290px;
}

.tiket img {
    width: 490px;
    height: 120px;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.tiket img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.kontak {
    background: url(gb/bawahan-02.jpg);
    background-repeat: no-repeat;
    background-size: 990px 200px;
    min-height: 200px;
    background-position-x: center;
    place-content: center;
    display: grid;
    position: relative;
    top: -290px;
}

.kontak {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    text-align: center;
}

.kontak h3 {
    font-weight: 700px;
    font-size: 30px;
}

.kontak h4 {
    font-weight: 500px;
    font-size: 14px;
}

.kontak h5 {
    font-weight: 400px;
    font-size: 12px;
}





















.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}








