@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans+JP:wght@400;500;600;700;900&family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(gb/bg1.png);
    list-style: none;
    height: 2000px;
}

.header {
    margin: auto;
    background: url(gb/header.jpg);
    background-repeat: no-repeat;
    background-size: 990px 347.1529px;
    background-position-x: center;
    place-content: center; 
    display: grid; 
    text-align: center;
    isolation: isolate;
}

.header img {
    margin: auto;
    width: 990px;
    height:  347.1529px;
}

.display {
    background-image: url(gb/ds.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 990px 281.9246px;
    place-content: center;
    display: grid;
    position: relative;
    margin: auto;
}

.display .jd img {
    position: relative;
    margin: auto;
    width: 1000px;
    height: 300px;
    bottom: 60px;
}

.display .jd h2 {
    color: #6b2b00;
    margin-top: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    text-align: center;
}

.display ul li img {
    width: 200px;
    height: 200px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.display ul li img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.display ul li {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    display: inline;
    align-content: center;
    align-items: center;
    bottom: 290px;
    left: 103px;
}

.food {
    top: -288px;
    background-image: url(gb/pinkpat-02.png);
    background-repeat: no-repeat;
    background-position: center;
    place-content: center;
    display: grid;
    background-size: 990px 1046.229px;
    position: relative;
}


.food img {
    width: 730px;
    height: 315px;
}

.food ul li {
    position: relative;
    display: block;
    align-content: center;
    align-items: center;
}

.tiket {
    background: url(gb/ahihi\ dhar-02.jpg);
    background-repeat: no-repeat;
    background-size: 990px 270px;
    min-height: 270px;
    background-position-x: center;
    place-content: center;
    display: grid;
    position: relative;
    top: -300px;
}

.tiket img {
    width: 490px;
    height: 120px;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.tiket img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.kontak {
    background: url(gb/bawahan-02.jpg);
    background-repeat: no-repeat;
    background-size: 990px 200px;
    min-height: 200px;
    background-position-x: center;
    place-content: center;
    display: grid;
    position: relative;
    top: -300px;
}

.kontak {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    text-align: center;
}

.kontak h3 {
    font-weight: 700px;
    font-size: 30px;
}

.kontak h4 {
    font-weight: 500px;
    font-size: 14px;
}

.kontak h3 {
    font-weight: 400px;
    font-size: 12px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}








